{% extends 'base.html' %}

{% block head %}
<title>Post page</title>

{% endblock %}

{% block body %}

<main class="container text-center">
  <div class="bg-light p-5 rounded">
    <h1>Hi There,</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt eligendi delectus architecto
      repudiandae magni alias, cumque odit debitis voluptatem harum ducimus nam vitae. Quos iure, expedita similique ex
      quisquam consequatur?</p>
    <a class="btn btn-lg btn-warning" href="/posts" role="button">See Blog Posts</a>
  </div>
</main>
<hr>
{% endblock %}